.login-container
  margin: auto
  width: 100%
  max-width: 615px

.login
  > .container
    min-height: calc(100vh - 120px - 70px - 80px)
    display: flex
    flex-direction: column

.login-remember
  max-width: 350px
  margin-left: auto

+r($tablet)
  .login-remember
    max-width: 100%

+r($mobile)
  .login-container
    margin-left: -20px
    margin-right: -20px
    width: calc(100% + 40px)
  .login
    > .container
      min-height: calc(100vh - 90px - 70px - 80px)


.login-form 
  .ui-group--labeled
    display: block;

.login-form
  h2
    margin: 0 0 9px 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;   

.login-form 
  p 
    margin: 5px 0;
    padding: 0;
    text-align: center;
    font-size: 15px;

.login-form
  width: 100%;
  &.loader-container 
    margin-top: 30px;

.login-form
  .login-remember 
    max-width: inherit;
    margin-left: auto;
    float: left;

.login-form 
  .login-remember + a 
    float: right;
    margin-top: 5px;
    text-decoration: underline;
 
.login-form 
  .signup__form-cta 
    max-width: 100%;
    margin-left: auto;
    margin-top: 0;
    width: 100%;
    clear: both;
    display: inline-block;

.login-form
  .signup__form-cta 
    .btn
      font-size: 19px !important;
      color: #383838 !important;

.login-form
  .signup__form-cta 
    .btn:hover      
      color: white !important;
 
.login-form
  .signup__form-cta + a.pull-right 
    float: right;
    margin-top: 30px;
    margin-bottom: 10px;
    text-decoration: underline;
 
.login-form
  display: inline-block;

.cancel-btn
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 30px !important;

.signup.login
  .login-container
        max-width: 450px;

.signup.login 
  .signup__form      
    padding: 44px;  

.login-form 
  h2
    color: #4A4A4A;
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    text-align: center;

.login-form 
  p
    color: #383838;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
 
.login-form 
  ui-group
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;

.login-form 
  .ui-group  
     input    
      height: 44px;
      border: 1px solid #979797; 
      border-radius: 3px;
      background-color: #FFFFFF;

.login-form 
  .ui-checkbox__label 
    span
      color: #383838; 

.login-form
  a.forgot  
    font-size: 14px;
    color: #0A1E39;
 
.login-form
  a.memeber  
    float: right;
    font-size: 14px;
    color: #0A1E39;
    text-decoration: underline;
    margin-top: 25px;

.login-form
  .input-box  
    float: left;
    width: 100%;
    position: relative;
    input
      width: 100%;
      padding-left: 42px; 
    img 
      position: absolute;
      left: 10px;
      top: 9px;
      width: 27px;

.login-form 
  .ui-group--labeled
      display: block;
      float: left;
      width: 100%;

.login-form
  a.cancel-btn  
    font-size: 14px;
    text-decoration: underline;
    color: #0A1E39; 

.login-form 
  .password 
    .input-box 
      img
        top: 7px;  
        width: 23px;

.login-form
  p.mb-15
    margin-bottom: 18px;
  .email
    .ico-email
      width: 27px;
      height: 19px;
      position: absolute;
      top: 13px;
      left: 7px;
  .password
    .ico-lock
      width: 20px;
      height: 27px;
      position: absolute;
      top: 8px;
      left: 11px;
     
.asterisk-removed
  span.asterisk
    display:  none;

.line-h
  line-height: 24px !important;

.link-color
  a
    color: #143f80;
    font-weight: 550 !important;   

.link-color
  a:hover    
    text-decoration: underline;
.mar-t
  margin-top: 24px!important;

.thankyou-form
  width: 87% !important;

.kmlogin-bg
  background-color: #091d3a;  
  overflow: auto;
  margin: 0;
  display: block;
  .login-container
    max-width: 360px;
    .signup__form
      padding: 15px;
      h2
        color: #091d3a;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 20px;

.kmlogin-bg 
  .forgot
    color: #091d3a!important;
    text-decoration: none!important;
    margin-top: 10px!important;
  .ico 
    fill: #091d3a!important;  
  .login-form 
    .login-remember
      .ui-checkbox__label:before
        width: 18px;
        height: 18px;
        border: 1px solid #fbc52d; 
        border-radius: 0; 
      .ui-checkbox__label  
       span 
        padding-left: 30px;  
    .ui-group
      position: relative; 
      margin-top: 4px;
      margin-bottom: 23px;
 
    .input-box 
      input
        border-radius: 0;
        border: 1px solid #d5d5d5;  
        padding-left: 54px;
      span.icon-bak  
        background-color: #e6e6e6;
        position: absolute;
        top: 1px;
        bottom: 1px;
        width: 41px;
        left: 1px; 
        svg 
          width: 21px;
          height: 19px;
          position: absolute;
          top: 13px;
          left: 10px;
          path
            fill: #091d3a;
  .signup__form-cta
    .btn
      font-size: 15px !important;
      font-weight: 600;
      color: #383838 !important;
      height: 38px;
      border: 1px solid #e6b737;
      line-height: 18px;
      background-color: transparent;
      border-radius: 25px;   
    .btn:hover  
      background-color: #e6b737;
      color: #383838!important;  
.login-footer
  .navbar
    border-top: 2px solid #c5d6de;
    padding: 20px 20px 10px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    border-radius: 0;
    float: left;
    width: 100%;      
    .col-lg-6
      width: 50%;   
      float: left;  
    .col-lg-6.buttn-group
      text-align: right;  
      button.btn.btn-bordered-dark  
        margin-left: 4px;
        border: 1px solid #091d3a;
        background-color: transparent;
        color: #091d3a!important;
        font-size: 13px!important;
        padding: 7px 12px;
 

.kmlogin-bg    
  HEIGHT: 100VH;
  .header-logo
    text-align: center;
    padding: 20px;
    img
      width: 36%;
  .content   
    padding-top: 40px;
    padding-bottom: 40px; 
    h4.text-white
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      TEXT-ALIGN: CENTER;  
      a              
        color: #fbc52d;     
 
.kmlogin-bg
  .ui-checkbox__label:after
    left: 4px;
  .btn
    margin-bottom: 12px;
  .login-footer 
    .buttn-group
      float: right!important;
      display: block!important;
    .navbar 
      .col-lg-6 
        flex-direction: row;
        width: 50%;
        float: left;
        display: flex;
        ALIGN-ITEMS: center;
        height: auto;
        span
          margin: 0 4px;
          img 
            width: 205px;
            display: inline-block;
            height: auto;
 
    