.login-container
  margin: auto
  width: 100%
  max-width: 615px

.login
  > .container
    min-height: calc(100vh - 120px - 70px - 80px)
    display: flex
    flex-direction: column

.login-remember
  max-width: 350px
  margin-left: auto

+r($tablet)
  .login-remember
    max-width: 100%

+r($mobile)
  .login-container
    margin-left: -20px
    margin-right: -20px
    width: calc(100% + 40px)
  .login
    > .container
      min-height: calc(100vh - 90px - 70px - 80px)


.login-form 
  .ui-group--labeled
    display: block;

.login-form
  h2
    margin: 0 0 9px 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;   

.login-form 
  p 
    margin: 5px 0;
    padding: 0;
    text-align: center;
    font-size: 15px;

.login-form
  width: 100%;
  &.loader-container 
    margin-top: 30px;

.login-form
  .login-remember 
    max-width: inherit;
    margin-left: auto;
    float: left;

.login-form 
  .login-remember + a 
    float: right;
    margin-top: 5px;
    text-decoration: underline;
 
.login-form 
  .signup__form-cta 
    max-width: 100%;
    margin-left: auto;
    margin-top: 0;
    width: 100%;
    clear: both;
    display: inline-block;

.login-form
  .signup__form-cta 
    .btn
      font-size: 19px !important;
      color: #383838 !important;

.login-form
  .signup__form-cta 
    .btn:hover      
      color: white !important;
 
.login-form
  .signup__form-cta + a.pull-right 
    float: right;
    margin-top: 30px;
    margin-bottom: 10px;
    text-decoration: underline;
 
.login-form
  display: inline-block;

.cancel-btn
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 30px !important;

.signup.login
  .login-container
        max-width: 450px;

.signup.login 
  .signup__form      
    padding: 44px;  

.login-form 
  h2
    color: #4A4A4A;
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    text-align: center;

.login-form 
  p
    color: #383838;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
 
.login-form 
  ui-group
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;

.login-form 
  .ui-group  
     input    
      height: 44px;
      border: 1px solid #979797; 
      border-radius: 3px;
      background-color: #FFFFFF;

.login-form 
  .ui-checkbox__label 
    span
      color: #383838; 

.login-form
  a.forgot  
    font-size: 14px;
    color: #0A1E39;
 
.login-form
  a.memeber  
    float: right;
    font-size: 14px;
    color: #0A1E39;
    text-decoration: underline;
    margin-top: 25px;

.login-form
  .input-box  
    float: left;
    width: 100%;
    position: relative;
    input
      width: 100%;
      padding-left: 42px; 
    img 
      position: absolute;
      left: 10px;
      top: 9px;
      width: 27px;

.login-form 
  .ui-group--labeled
      display: block;
      float: left;
      width: 100%;

.login-form
  a.cancel-btn  
    font-size: 14px;
    text-decoration: underline;
    color: #0A1E39; 

.login-form 
  .password 
    .input-box 
      img
        top: 7px;  
        width: 23px;

.login-form
  p.mb-15
    margin-bottom: 18px;
 

  