
.profile
  flex: 1 0 auto
  // padding-top: 120px
  padding-bottom: 70px
  // min-height: 100vh
  background: $colorBlue
  &__container
    margin: 50px auto 0px
    max-width: 615px
    &--wide
      max-width: 915px
  &__form
    background: white
    padding: 40px 40px 20px

.profile__container h2 
  color: #4A4A4A
  font-size: 24px
  font-weight: 700
  line-height: 33px
  text-align: center
  margin-bottom: 28px
