*
  box-sizing: border-box
  outline: none
  -webkit-overflow-scrolling: touch

a
  color: inherit
  text-decoration: none
  &:hover, &:focus
    text-decoration: none

strong, b
  font-weight: 500

ul
  list-style: none

button, input, optgroup, select, textarea
  font-family: $defaultFamily

body, html
  background: white
  color: $fontColor
  font-family: $defaultFamily
  font-weight: normal
  font-size: 16px
  min-width: 320px
  max-width: 100%
  margin: 0
  overflow-x: hidden
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

::selection
  background: $colorBlue
  color: white

.page
  display: flex
  flex-direction: column
  min-height: 100vh
  &__content
    flex: 1 0 auto
    display: flex
    flex-direction: column

.container
  width: 100%
  // 1350 + 40 * 2
  max-width: 1430px
  margin-left: auto
  margin-right: auto
  padding-left: 40px
  padding-right: 40px
  &--full
    max-width: 1920px
  &--narrow
    max-width: 1050px

+r($mobile)
  .container
    padding-left: 20px
    padding-right: 20px

.for-desktop
  display: block
  +r($tablet)
    display: none

.for-tablet
  display: none
  +r($tablet)
    display: block

.wrapper-btn-clear
  padding: 10px 0 0 30px

.date-picker
  padding: 8px 30px
  height: 34px

.wrapper-radio-sku
  display: flex
  padding: 15px 30px
  flex-direction: row
  align-items: center
  h5
    font-size: 16px
  .style-radio-sku
    margin: 0 10px 0 20px
    font-size: 15px
    cursor: pointer
  span
    font-size: 14px

.daterangepicker
  .ranges
    border-right: 1px solid #ddd
    ul
      border-right: none
  .left
    border-left: none !important

.wrapper-market-step
  display: flex
  flex-direction: column
  align-items: center
  .signup__form-cta
    .btn-signup
      color: #383838
      font-size: 18px
      font-weight: bold
      &:hover
        background-color: $colorBlue
        color: white !important


.market-msw-region
  text-align: center !important
  .signup__note
    display: inline-block !important
    text-align: left
  .signup__form-cta
    .btn-signup
      color: #383838
      font-size: 18px
      font-weight: bold
      &:hover
        background-color: $colorBlue
        color: white !important

.reload-time
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end
  padding: 10px 20px
  span
    font-size: 14px

// CSS CANVAS

#canvas-wrapper
  position: fixed
  left: 7%
  top: 15%
  z-index: 1

#canvas-wrapper1
  position: fixed
  left: 56%
  top: 40%
  z-index: 1

.check-box-disabled
  position: relative
  &:after
    content: ""
    vertical-align: middle
    text-align: center
    line-height: 12px
    position: absolute
    cursor: pointer
    height: 12px
    width: 12px
    border-radius: 3px
    left: 0
    top: 0
    font-size: 10px
    background: #999
    cursor: auto !important

// Reload progress bar
.wrapper-progress-bar
  position: relative
  .status-bar-update-loading
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    background-color: #ffffe6
    .text-status-bar-loading
      color: #b8a027
      font-size: 18px
      font-weight: bold


  .status-bar-update-success
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    background-color: #e7fadc
    .text-status-bar-success
      color: #38a308
      font-size: 18px
      font-weight: bold

.ico-check-success
  display: flex
  background: $colorGreen svg-load('../images/icons/checkmark.svg') no-repeat center
  border-radius: 50%
  size: 23px
  margin-left: 10px

.ico-close-bar
  position: absolute
  top: 10px
  right: 20px
  font-size: 18px !important
  cursor: pointer
  color: #999

.hidden-status-bar
  display: none

.multi-selected-list
  background: #fff
  width: 160px
  color: #595959 !important
  z-index: 100
  margin: 0 15px
.thin-text
  font-weight: 400 !important

.keywords-auto-menu
  padding: 20px 50px
  h3
    font-size: 26px
    text-transform: uppercase
    color: #383838
  table
    width: 100%
    border-collapse: collapse
    thead
      tr
        th
          padding: 10px 0
          text-align: left
          padding-left: 10px
          border: 1px solid #cccccc
          color: #383838
          font-weight: bold
    tbody
      tr
        td
          padding: 10px 0
          text-align: left
          padding-left: 10px
          border: 1px solid #cccccc
          input[type='text']
            width: 100%
            border: none
            text-align: center
            line-height: 18px
          .wrapper-asin-checkbox
            text-align: left
            input[type='checkbox']
              margin-right: 5px
            input[type='text']
              display: inline-block
              width: calc(100% - 45px)
              text-align: left
              text-transform: uppercase
            .text-asin
              max-width: 90px
  .form-check
    display: flex
    flex-direction: column
    label
        max-width: 400px
        cursor: pointer
        padding: 10px 20px !important
        font-size: 16px
        display: flex
        align-items: center
        color: #383838
        input
          cursor: pointer
          margin-right: 10px
          font-size: 14px
          margin-top: -2px
  .btn-submit-automation
    background: #FFC402
    padding: 10px 30px
    border-radius: 5px
    font-weight: bold
    cursor: pointer
    color: #1D3049 !important
    margin: 20px
    font-size: 16px
  .wrapper-btn
    .btn-back-menu-keywords
      background: #FFC402
      padding: 10px 30px
      border-radius: 5px
      font-weight: bold
      cursor: pointer
      color: #1D3049 !important
      margin: 20px
      font-size: 16px
  .wrapper-asin-btn
    margin: 20px 0
    .btn-submit-automation:first-child
      margin-left: 0
  .ui-input-error
    font-size: 12px
    color: red
    display: block
    margin: 20px 0

